<div class="full-height-layout">
  <!--[if lt IE 9]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
  <div id="container">
    <div class="flex-container">
      <div id="sidebar" class="box box-1 d-none d-sm-block">
        <div class="sidebar-wrapper">
          <div>
            <a href="#" class="logo"><img src="assets/images/logo.svg" alt="logo"></a>
         </div>
         <figure class="image">
          <img src="assets/images/icon1.svg" alt="icon">
       </figure>
       <p>{{langindex==0?'2021 © Mahally, Saudia Arabia.':'2021 @محلّي ، السعودية'}}</p>
        </div>
      </div>
      <div id="main" class="box box-2">
        <div class="language-selector text-right"><a class="text-white lt-pointer" *ngIf="isEnglish" (click)="doLangaugeChange('ar')">العربية</a><a class="text-white lt-pointer" *ngIf="!isEnglish" (click)="doLangaugeChange('en')">English</a></div>
        <div class="logo-wrapper d-sm-none">
          <a href="#" class="logo"><img src="assets/images/logo.svg" alt="logo"></a>
        </div>
        <div class="form-wrapper">
          <div class="form text-center">
            <header class="title text-center"><h1>{{langindex==0?'VERIFY ACCOUNT ':'التحقق من الحساب'}}</h1></header>
            <form [formGroup]="verifyForm">
              <p class="mb-5">{{langindex==0?'We have sent verification code to your email entered, please verify the account':'لقد أرسلنا رمز التحقق إلى بريدك الإلكتروني الذي أدخلته ، يرجى التحقق من الحساب'}}</p>
              <div class="form-group">
                <div class="row mb-5">
                  <div class="col-md-8 mb-3">  <input type="text" class="form-control" placeholder="{{langindex==0?'Enter verification code':'أدخل رمز التحقق'}}" formControlName="code" required></div>
                  <div class="col-md-4 mb-3"><input type="submit" class="button button-secondary" value="{{langindex==0?'Verify':'تحقق'}}" [disabled]="!verifyForm.valid" (click)="doVerify()"></div>
                  <app-control-messages [control]="verifyForm.controls.code"></app-control-messages>
                </div>
              
</div>
</form>
<form [formGroup]="verifyResendForm">
              <p>{{langindex==0?'Didn’t receive code?':'?لم يصلني رمز التحقق'}}<a href="#">{{langindex==0?'Resend':'إعادة إرسال'}}</a></p>

              <div class="form-group text-left">
                <label>{{langindex==0?'Email':'البريد الإلكتروني'}}</label>


                <div class="row mb-5">
                  <div class="col-md-9 mb-3"><input type="email" class="form-control" placeholder="{{langindex==0?'Enter email address':'أدخل عنوان البريد الإلكتروني'}}"  formControlName="email" required></div>
                  <div class="col-md-3 mb-3"><input type="submit" class="button" value="{{langindex==0?'Resend':' إعادة إرسال '}}" [disabled]="!verifyResendForm.valid" (click)="temForgot()"></div>
                  <app-control-messages [control]="verifyResendForm.controls.email"></app-control-messages>
                </div>

              </div>
            </form>
          </div>
        </div>
        <div class="d-sm-none mt-5 text-center">
          <p class="text-white small">{{langindex==0?'2021 © Mahally, Saudia Arabia.':'2021 @محلّي ، السعودية'}}</p>
        </div>
      </div>
    </div>
  </div>

</div>