<div class="full-height-layout">
      <!--[if lt IE 9]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
  <div id="container">
    <div class="flex-container">
      <div id="sidebar" class="box box-1 d-none d-sm-block">
        <div class="sidebar-wrapper">
          <div>
            <a href="#" class="logo"><img src="assets/images/logo.svg" alt="logo"></a>
         </div>
         <figure class="image">
          <img src="assets/images/icon1.svg" alt="icon">
       </figure>
       <p>{{langindex==0?'2021@Mahally, Saudia Arabia.':'2021 @محلّي ، السعودية'}}</p>
        </div>
      </div>
      <div id="main" class="box box-2">
        <div class="language-selector text-right"><a class="text-white lt-pointer" *ngIf="isEnglish" (click)="doLangaugeChange('ar')">العربية</a><a class="text-white lt-pointer" *ngIf="!isEnglish" (click)="doLangaugeChange('en')">English</a></div>
        <div class="logo-wrapper d-sm-none">
          <a href="#" class="logo"><img src="assets/images/logo.svg" alt="logo"></a>
        </div>
        <div class="form-wrapper">
          <div class="form">
            <header class="title text-center"><h1>{{langindex==0?'Forgot Password':'نسيت كلمة المرور'}}</h1></header>
            <form name="reset" [formGroup]="forgotPasswordForm">
              <div class="form-group">
                <p>{{langindex==0?'Please enter your email to reset your password.':'الرجاء إدخال بريدك الإلكتروني لإعادة ضبط كلمة المرور'}}</p>
                <label>{{langindex==0?'Email':'البريد الإلكتروني'}}</label>
                <input type="email" class="form-control" placeholder="{{langindex==0?'Enter Email':'أدخل البريد الإلكتروني'}}" formControlName="email" required>
                <app-control-messages [control]="forgotPasswordForm.controls.email"></app-control-messages>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-6 mb-3"><input [disabled]="!forgotPasswordForm.valid" type="button" (click)="temForgot()"  class="button" value="{{langindex==0?'Send Code':'إرسل رمز التحقق'}}"></div>
                  <!-- <div class="col-sm-6 mb-3"><input routerLink="/verify" type="button" class="button" value="Verify"></div> -->
                </div>   
              </div>
            </form>
          </div>
        </div>
        <div class="d-sm-none mt-5 text-center">
          <p class="text-white small">{{langindex==0?'2021@Mahally, Saudia Arabia.':'2021 @محلّي ، السعودية'}}</p>
        </div>
      </div>
    </div>
  </div>

</div>
