<app-header></app-header>
<div id="content">
    <div class="order-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="search-orders">
                         <!-- New Search Box-->
                         <div>
                             
                                <div >
                                        <ng2-completer [(ngModel)]="CurrentFilterValue" [datasource]="AutoFillData" [minSearchLength]="1" placeholder="{{langindex==0?'Search by Order Id':'البحث برقم الطلب'}}" inputClass="autofill-txtbox" >shvchvhhbjdbh </ng2-completer>
                                 
                                </div>  
                                <div>
                                        <button type="submit" (click)="doFetchOrderListByOrderid()"><i class="fas fa-search"></i></button>
                                   
                                        <span id="CloseIcon" *ngIf="isFIlterOn==1"  (click)="doResetsearch()"><i class="fas fa-times"></i></span>
                                </div> 
    
                            </div>
                        <!-- <form [formGroup]="searchForm" >
                            <input type="text" placeholder="Search by order ID"  formControlName="order_id" required>   
                            <button type="submit" [disabled]="!searchForm.valid" (click)="doFetchOrderListByOrderid()"><i class="fas fa-search"></i></button>
                            <app-control-messages [control]="searchForm.controls.order_id"></app-control-messages>
                        </form> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-6 column" *ngFor="let order of orderList|paginate: { id: 'some_id',
                itemsPerPage: OrderitemsPerPage,
                currentPage: currentPage,
                totalItems: totalItems } ;  index as i">
                    <div class="order-box">
                        <header>
                            <div class="row justify-content-start">
                                <div class="top">
                                    <h3>{{order.order_id }}</h3>
                                    <span class="status">
                                        {{langindex==0?'Order Pending':'الطلبات المعلقة'}}
                                    </span>
                                </div>
                                <p>{{order.created_at| date:"MMMM d h:mm a"}}</p>
                                <!-- <p class="col-lg-3 col-sm-4 text-sm-right mb-2"><span class="status" style="text-transform:capitalize;">{{ order.order_type}}</span></p> -->
                                <p class="col-lg-4 col-sm-4 text-sm-right mb-2"*ngIf="langindex==0"><span class="status" style="text-transform:capitalize;">{{ order.order_type_lang.en}}</span></p>
                                <p class="col-lg-4 col-sm-4 text-sm-right mb-2"*ngIf="langindex==1"><span class="status" style="text-transform:capitalize;">{{ order.order_type_lang.ar}}</span></p>
                                <p class=" mb-2"> 
                                        
                                    <span class="timing tablenum"*ngIf= "order.table_id != 0" [ngStyle]="{'background-color':order.table_manage.table_color}">  TAB-{{ order.table_manage.table_number}}  </span>
                                </p>
                           
                                </div>
                        </header>
                        <div class="order-details">
                            <ul class="list-unstyled">
                               
                                    <li *ngFor="let index of order.order_item;  index as i">
                                 
                                        
                                   <!-- {{ order.menu_item.length>0? order.menu_item[0].lang[0].name:''}}
                                   <span *ngIf="order?.order_addons?.length > 0">Addons</span>

                                    -->
                                {{index.menu_items.lang[langindex].name}} 

                                  <div *ngIf="index.order_item_addon?.length>0">
                                        <span> {{langindex==0?'Addons':'الإضافات'}}</span>
                                                <ul class="list-unstyled">
                                                    <li *ngFor="let orderaddon of index.order_item_addon;  index as i">
                                                        {{ orderaddon.item_count }}<label class="lebelstyl">X</label>{{ orderaddon.resturant_addons.lang.length>0?orderaddon.resturant_addons.lang[langindex].name:'' }}
  
                                                    </li>
                                                </ul>
                                        

                                  </div>
                                    <!--   <div *ngIf="index.order_item_addon?.length>0">
                                         
                                            <ul class="list-unstyled">
                                                <li *ngFor="let orderaddon of index.order_item_addon;  index as i">
                                                    {{ orderaddon.lang.length>0?orderaddon.lang[0].name:'' }}
        
                                                </li>
                                            </ul>
                                    </div> -->
                      
                                    
                                </li>

                            </ul>
                        </div>
                        
                        <footer>
                            <div class="row align-items-center">
                                <div class="col-lg-9 col-sm-8 mb-2">
                                    <div class="d-md-flex align-items-center justify-content-between">
                                        <a (click)="doViewDetails(order.order_id)" class="d-inline-block mb-2 lt-pointer">{{langindex==0?'View details':'عرض التفاصيل'}}</a> 
                                        <a
                                            class="d-inline-block mb-2 lt-pointer styleMob" (click)="doViewDetails(order.order_id)">{{langindex==0?'Print invoice':'طباعة الفاتورة'}}</a>
                                    </div>

                                </div>

                                <div class="col-lg-3 col-sm-4 text-sm-right mb-2" *ngIf="langindex==0"><a (click)="doBump(order.order_id)"
                                        class="btn"><img src="assets/images/bumb-cons.png" alt=""></a></div>
                                        <div class="col-lg-3 col-sm-4 text-sm-right mb-2" *ngIf="langindex==1"><a (click)="doBump(order.order_id)"
                                            class="btn"><img src="assets/images/Arbicbumb.png" alt=""></a></div>
                            </div>



                        </footer>
                        <br>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-4">
                </div>

            <div class="col-sm-4 paginationcolo">
                 
                <pagination-controls  id="some_id"
                (pageChange)="onPageChange($event)"
                (pageBoundsCorrection)="onPageChange($event)"
                maxSize="9"
                directionLinks="true"
                autoHide="true"
                responsive="true"
                previousLabel="{{langindex==0?'Previous':'سابق'}}"
                    nextLabel="{{langindex==0?'Next':'التالي'}}"
                screenReaderPaginationLabel="Pagination"
                screenReaderPageLabel="page"
                screenReaderCurrentLabel="You're on page"  class="my-pagination">
</pagination-controls>

            </div >

        </div>
        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
    <p style="color: white">{{langindex==0?'Please Wait.':'الرجاء الإنتظار'}} </p>  
    </ngx-spinner>
<app-footer></app-footer>