@font-face {
    font-family: 'Muli';
    src: url('Muli-LightItalic.eot');
    src: url('Muli-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Muli-LightItalic.woff2') format('woff2'),
        url('Muli-LightItalic.woff') format('woff'),
        url('Muli-LightItalic.ttf') format('truetype'),
        url('Muli-LightItalic.svg#Muli-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: url('Muli-SemiBold.eot');
    src: url('Muli-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Muli-SemiBold.woff2') format('woff2'),
        url('Muli-SemiBold.woff') format('woff'),
        url('Muli-SemiBold.ttf') format('truetype'),
        url('Muli-SemiBold.svg#Muli-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: url('Muli-Italic.eot');
    src: url('Muli-Italic.eot?#iefix') format('embedded-opentype'),
        url('Muli-Italic.woff2') format('woff2'),
        url('Muli-Italic.woff') format('woff'),
        url('Muli-Italic.ttf') format('truetype'),
        url('Muli-Italic.svg#Muli-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: url('Muli-Semi-BoldItalic.eot');
    src: url('Muli-Semi-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Muli-Semi-BoldItalic.woff2') format('woff2'),
        url('Muli-Semi-BoldItalic.woff') format('woff'),
        url('Muli-Semi-BoldItalic.ttf') format('truetype'),
        url('Muli-Semi-BoldItalic.svg#Muli-Semi-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: url('Muli-Light.eot');
    src: url('Muli-Light.eot?#iefix') format('embedded-opentype'),
        url('Muli-Light.woff2') format('woff2'),
        url('Muli-Light.woff') format('woff'),
        url('Muli-Light.ttf') format('truetype'),
        url('Muli-Light.svg#Muli-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muli';
    src: url('Muli.eot');
    src: url('Muli.eot?#iefix') format('embedded-opentype'),
        url('Muli.woff2') format('woff2'),
        url('Muli.woff') format('woff'),
        url('Muli.ttf') format('truetype'),
        url('Muli.svg#Muli') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

