<div class="full-height-layout bump-layout">
    <div id="container">
        <div class="flex-container">
            <div class="d-flex align-items-center justify-content-center w-100">
                <div class="flex-inner">
                    <div class="box1 order-box">
                        <div class="box-header">
                            <div class="row align-items-center">
                                <div class="col-sm-10">
                                    <h1 *ngIf="order_status == 1">{{langindex==0?'Order Pending ':'الطلب معلق'}} {{ order_id }}</h1>
                                    <h1 *ngIf="order_status == 2">{{langindex==0?'Order Confirmed ':'الطلب مؤكد'}} {{ order_id }}</h1>
                                    <h1 *ngIf="order_status == 3">{{langindex==0?'In Kitchen':'في المطبخ'}} {{ order_id }}</h1>
                                    <h1 *ngIf="order_status == 4">{{langindex==0?'Order Ready For Pickup':'الطلب جاهز للإستلام'}} {{ order_id }}</h1>
                                    <h1 *ngIf="order_status == 5">{{langindex==0?'Order Delivered':'تم تسليم الطلب'}} {{ order_id }}</h1>
                                </div>
                                <div class="col-sm-2 col-3 text-right">
                                    <a routerLink="/pending-orders" class="close-btn" *ngIf="routerLink=='pending_orders'"><img src="assets/images/close-icon.png"
                                            alt="close-btn"></a>
                                    <a routerLink="/order-ready-for-pickup" class="close-btn" *ngIf="routerLink=='order_ready_for_pickup'"><img src="assets/images/close-icon.png"
                                                alt="close-btn"></a>
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-8 m-auto text-center">
                                    <!-- <a (click)="doViewDetails()" class="button3 lt-pointer">
                                        <i class="icon"><img src="assets/images/printer-icon.png" alt="printer"></i>
                                        <span>{{langindex==0?'Print invoice':'طباعة الفاتورة'}}</span>
                                    </a> -->
                                </div>
                            </div>
                            <div class="status">
                                <h3 class="text-center">{{langindex==0?'Change Status':'تغيير الحالة'}}</h3>
     
                            <div class="row"*ngIf="order_status == 1">
                                <div class="col-lg-4 col-md-6 col-sm-8 mb-3">
                                    <a [disable]="order_status === 1"  class="button3 button3-mute ml-auto mr-auto lt-pointer">
                                        <span>{{langindex==0?'Order Pending':'الطلب معلق'}}</span>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-8 mb-3 ml-auto mr-auto">
                                    <a (click)="doUpdateOrderStatusConfirm()" class="button3 button3-warning  lt-pointer"><span>{{langindex==0?'Order Confirmed':'تأكيد الطلب'}}</span></a>
                                        
                                    
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-8 mb-3 ml-auto mr-auto">
                                    <a [disable]="order_status === 1" class="button3 button3-mute  lt-pointer">
                                        <!-- <i class="icon"><img src="assets/images/tray.png" alt="tray"></i> -->
                                        <span>{{langindex==0?'In kitchen':'في المطبخ'}}</span>
                                    </a>
                                </div>

                                <div class="col-lg-4 col-md-6 col-sm-8 mb-3 ml-auto mr-auto lt-pointer">
                                    <a  class="button3 button3-mute">
                                        <!-- <i class="icon"><img src="assets/images/tray.png" alt="tray"></i> -->
                                        <span>{{langindex==0?'Ready for Pickup':'جاهز للإستلام'}}</span>
                                    </a>
                                </div>
 
                                <div class="col-lg-4 col-md-6 col-sm-8 mb-3 ml-auto mr-auto lt-pointer">
                                    <a  class="button3 button3-mute">
                                        <!-- <i class="icon"><img src="assets/images/tray.png" alt="tray"></i> -->
                                        <span>{{langindex==0?'Mark as Delivered':'تم التسليم'}}</span>
                                    </a>
                                </div>

                                <div class="col-lg-4 col-md-6 col-sm-8 mb-3 ml-auto mr-auto">
                                    <a (click)="doUpdateOrderStatusCancel()" class="button3 button3-warning lt-pointer">
                                        <!-- <i class="icon"><img src="assets/images/tray.png" alt="tray"></i> -->
                                        <span>{{langindex==0?'Order Cancel':'إلغاء الطلب'}}</span>
                                    </a>
                                </div>
                            </div>

                            <div class="row"  *ngIf="order_status == 4">
                                <div class="col-lg-4 col-md-6 col-sm-8 mb-3">
                                    <a [disable]="order_status === 4" class="button3 button3-mute ml-auto mr-auto lt-pointer">
                                        <span>{{langindex==0?'Order Pending':'الطلب معلق'}}</span>
                                    </a>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-8 mb-3 ml-auto mr-auto">
                                    <a [disable]="order_status === 4" class="button3 button3-mute lt-pointer"><span>{{langindex==0?'Order Confirmed':'تأكيد الطلب'}}</span></a>
                                        
                                    
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-8 mb-3 ml-auto mr-auto">
                                    <a [disable]="order_status === 4" class="button3 button3-mute lt-pointer">
                                        <!-- <i class="icon"><img src="assets/images/tray.png" alt="tray"></i> -->
                                        <span>{{langindex==0?'In kitchen':'في المطبخ'}}</span>
                                    </a>
                                </div>

                                <div class="col-lg-4 col-md-6 col-sm-8 mb-3 ml-auto mr-auto">
                                    <a  [disable]="order_status === 4" class="button3 button3-mute lt-pointer">
                                        <!-- <i class="icon"><img src="assets/images/tray.png" alt="tray"></i> -->
                                        <span>{{langindex==0?'Ready for Pickup':'جاهز للإستلام'}}</span>
                                    </a>
                                </div>
 
                                <div class="col-lg-4 col-md-6 col-sm-8 mb-3 ml-auto mr-auto">
                                    <a (click)="doUpdateOrderStatusDelivered()" class="button3 button3-warning lt-pointer">
                                        <!-- <i class="icon"><img src="assets/images/tray.png" alt="tray"></i> -->
                                        <span>{{langindex==0?'Mark as Delivered':'تم التسليم'}}</span>
                                    </a>
                                </div>

                            </div>
                        </div>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
</div>
