<header id="header">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-xl-3 col-lg-3 lt-mh-header-logo"><a class="logo"><img src="./assets/images/logo2.png"
                        alt="logo"></a></div>
                    <div class="col-xl-7 col-lg-9 ml-auto lt-mh-header-width">
                        <button type="button" class="menu-btn"> <span class="line"></span> <span class="line"></span>
                            <span class="line"></span></button>
                    <nav id="main-navigation">
                        <ul class="list-unstyled">
                            <li  routerLinkActive="active"><a routerLink="/pending-orders">{{langindex==0?'PENDING ORDERS':'الطلبات المعلقة'}}</a></li>
                            <li  routerLinkActive="active"><a routerLink="/confirmed-orders">{{langindex==0?'CONFIRMED ORDERS':'أوامر مؤكدة'}}</a></li>
                            <li  routerLinkActive="active"><a routerLink="/in-kitchen">{{langindex==0?'IN KITCHEN':'في المطبخ'}}</a></li>
                            <li  routerLinkActive="active"><a routerLink="/order-ready-for-pickup">{{langindex==0?'READY FOR PICKUP':'جاهز للإستلام'}}</a></li>
                            <li  routerLinkActive="active"><a routerLink="/order-delivered">{{langindex==0?'DELIVERED':'تم التسليم'}}</a></li>
                            <li *ngIf="ln === 'en'" (click)="doLangaugeChange('ar')" class="lt-pointer"><a>العربية</a></li>
                            <li *ngIf="ln === 'ar'" (click)="doLangaugeChange('en')" class="lt-pointer"><a>English</a></li>
                            <li><a (click)="doLogout()" type="button" routerLinkActive="active" class="bordered-button">{{langindex==0?'LOGOUT':'خروج'}}</a></li>
                            <!-- <li><a type="button" routerLinkActive="active" class="bordered-button">{{rest_name}}</a></li>
                            <li><a (click)="dochangepassword()" type="button" routerLinkActive="active" class="bordered-button">{{langindex==0?'Reset Password':'خروج'}}</a></li> -->
                       
                            <!-- <div class="dropdown">
                                <span>Mouse over me</span>
                                <div class="dropdown-content">
                                <p>Hello World!</p>
                                <p>Hello World!</p>
                               
                                </div>
                              </div> -->
                       
                       
                        </ul>
                       
                    </nav>
                    
            </div>
        </div>
    </div>
</header>